.esquerda{
    float: left;
    margin-right: 20px;
    width: 30%;
    height: 80%;
    margin-left: 300px;
    margin-top: 10px;
}
.textoapresentação{
    margin-left: 40%;
    h1 {
        color: rgb(86, 86, 212);
        font-size: xx-large;
    }
}
.apresentação{
    overflow: hidden;
}

.capa {
    width: 1900px;
    height: 300px;
    h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        text-align: center;
        font-size: 80px;
    }
    h3 {
        top: auto;
        left: 0%;
    }
    
}

.fotos {
    margin-left: 300px;
    margin-top: 10px;

}

    

